<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832586337185-a9dh7vt58e9jeg5cfb1706fnlgquie30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832586337185-a9dh7vt58e9jeg5cfb1706fnlgquie30</string>
	<key>API_KEY</key>
	<string>AIzaSyAqLfuflq2FVojbsZo5nj-OEsKB_GSrPZk</string>
	<key>GCM_SENDER_ID</key>
	<string>832586337185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.albumplug</string>
	<key>PROJECT_ID</key>
	<string>albumplug-35b7d</string>
	<key>STORAGE_BUCKET</key>
	<string>albumplug-35b7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832586337185:ios:739c12a47368872a2e59e0</string>
</dict>
</plist>